[submodule "pack/colorscheme/start/gruvbox"]
	path = pack/colorscheme/start/gruvbox
	url = git@github.com:ellisonleao/gruvbox.nvim.git
[submodule "pack/dir/start/nvim-tree"]
	path = pack/dir/start/nvim-tree
	url = git@github.com:nvim-tree/nvim-tree.lua.git
