[submodule "pack/colorscheme/start/gruvbox"]
	path = pack/colorscheme/start/gruvbox
	url = git@github.com:ellisonleao/gruvbox.nvim.git
[submodule "pack/dir/start/nvim-tree"]
	path = pack/dir/start/nvim-tree
	url = git@github.com:nvim-tree/nvim-tree.lua.git
[submodule "pack/search/start/telescope"]
	path = pack/search/start/telescope
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule "pack/search/start/plenary"]
	path = pack/search/start/plenary
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule "pack/lsp_cmp/start/nvim-treesitter"]
	path = pack/lsp_cmp/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "pack/lsp_cmp/start/nvim-lspconfig"]
	path = pack/lsp_cmp/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "pack/lsp_cmp/start/cmp-nvim-lsp"]
	path = pack/lsp_cmp/start/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp.git
[submodule "pack/lsp_cmp/start/cmp-buffer"]
	path = pack/lsp_cmp/start/cmp-buffer
	url = git@github.com:hrsh7th/cmp-buffer.git
[submodule "pack/lsp_cmp/start/cmp-path"]
	path = pack/lsp_cmp/start/cmp-path
	url = git@github.com:hrsh7th/cmp-path.git
[submodule "pack/lsp_cmp/start/cmp-cmdline"]
	path = pack/lsp_cmp/start/cmp-cmdline
	url = git@github.com:hrsh7th/cmp-cmdline.git
[submodule "pack/lsp_cmp/start/nvim-cmp"]
	path = pack/lsp_cmp/start/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp.git
[submodule "pack/strengthen/start/toggleterm"]
	path = pack/strengthen/start/toggleterm
	url = git@github.com:akinsho/toggleterm.nvim.git
